*{
    background-color: #ac815d;
    font-family: monospace;
}
h1{
    padding: 10px 35px;
    font-size: 100px;
}
h4{
    padding: 1px 20px; 
    font-size: 25px;
}
button{
    position: absolute;
    right: 100px;
    bottom: 150px;
    padding: 10px 35px;
    background: black;
    color: white;
    border:none;
    border-radius: 10px;
    min-height:40px; 
    min-width: 120px;
    transition: .6s ease;
}
button:hover{
    cursor: pointer;
    background-color: paleturquoise;
    transition: 0.7s;
    box-shadow: 0  0  5px  white,  0  0  10px white, 0 0  15px white;
    font-weight: bold;
    color: black;
}